<!DOCTYPE html>
<html>
<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div id="app">

    <nav id="navBar">
      <h1>
        EduChat
      </h1>
  
      <button id="logInBtn" v-if="!$gf.me" @click="$gf.toggleLogIn">
        Log In
      </button>

      <article v-else> <a href="profile.html"><profile :actor="$gf.me" :downloadedimages="downloadedImages"> </profile> <name :actor="$gf.me"></name> </a></article>

    </nav>

    <!-- If we're not logged in, hide everything except the login button -->

    <template v-if="$gf.me && $gf.me === creatorId">
      <class :currclass="currClass" :actorstousernames="actorsToUsernames" :creator="true"></group>
    </template>

    <template v-if="$gf.me && $gf.me !== creatorId">

      <div id="secClasses">
        <div id="classes">
          <h1> Classes </h1>
          <class :currclass="currClass" :actorstousernames="actorsToUsernames" :getclass="getClass"></class>
        </div>
      </div>
      
      <div id="secGroups" style="display: none">
        <article id="groupInfo">
          <div id="yesParticipants" v-if="seeingParticipants.value ">
            <button class="backBtn" @click="backToChat"> Back</button>

            <p><b>{{currGroup.name}}</b></p>

          </div>

          <div id="noParticipants"  v-else>
            <div v-if="currGroup.id !== ''"><button @click="backToGroups">Back</button><p>{{currGroup.name}}</p> </div>
            <div v-else><button class="backClassBtn" @click="backToClasses">Back</button> <p>{{currClass.name}} Group Chats</p></div>
            <button v-if="currGroup.name" id="participantsBtn" @click="seeingParticipants.value = true">Settings</button>
          </div>

        </article>

        <div id="main">

          <div v-if="!seeingParticipants.value ">
            <group :currgroup="currGroup" :currclass="currClass" :classid="currClass.id" :actorstousernames="actorsToUsernames"></group>
          </div>

          <section v-if="seeingParticipants.value">
            <group v-if="currGroup.id.includes($gf.me.slice(13))" :currgroup="currGroup" :currclass="currClass" :classid="currClass.id" :actorstousernames="actorsToUsernames" :editablename="true"></group>
            <p> Members: </p>
            <article id="participants">
              <article v-for="participant of currGroup.participants">
                <profile :actor="participant" :downloadedimages="downloadedImages"></profile> 
                <name :actor="participant"></name></b> @{{ actorsToUsernames[participant] }}
                <b v-if="currGroup.id.includes(participant.slice(13))"> (Admin)</b>
                <group v-if="currGroup.id.includes($gf.me.slice(13)) && participant !== $gf.me" :classid="currClass.id" :currclass="currClass" :currgroup="currGroup" 
                :actorstousernames="actorsToUsernames" :removeallowed="true" :delpar="participant"></group>
              </article>
              <group :currgroup="currGroup" :currclass="currClass" :classid="currClass.id" :actorstousernames="actorsToUsernames" :addallowed="true" 
              :seeingparticipants="seeingParticipants"></group>
            </article>
          </section>

          <section id="mainSection" style="display: none;" v-else>
            
            <article id="chatMessages" @scroll="scrollMessages">
              <!-- List all the messages -->
              <article v-for="message, i of messages" :key="message.id">

                <div :id="`message-${message.id}`" class="myMessage-public" v-if="message.actor == $gf.me">

                              <!-- Display and edit form if we're editing a message -->
                  <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
                    <input type="text" v-model="editText">
                    <input type="submit" value="Save"/>
                  </form>

                  <!-- Otherwise, display a bunch of properties from the message -->
                  <div v-else>
                      <span class="authorInfo">

                        <div id="messageHeader">
                          <profile :actor="message.actor" :downloadedimages="downloadedImages"></profile> 
                          <!-- <img width="50" height="50" src="./media/menuWhte.png" @click="showingMenu = true"> -->
                        </div>
                        <b><b><name :actor="message.actor"></name></b> @{{ actorsToUsernames[message.actor] }}</b>
                      </span>
                      <div class="messageContent">
                        <p>{{ message.content }} </p>
                      </div>

                      <div v-if="message.attachment">
                        <div v-if="message.attachment.magnet">
                          <img class="msgImg" :src="downloadedImages[message.attachment.magnet]"/>
                        </div>
                        <div v-else>
                          Waiting for image
                        </div>
                      </div>
                      
                      <p v-if="message.published == message.updated"> Posted {{timeSincePosted(message.published)}} ago </p>
                      <p v-else> Last edited {{timeSincePosted(message.updated)}} ago </p>

                      <!-- <div v-if="myLikes.includes()"></div> -->
          
                        <like :messageid="message.id" :actorid="$gf.me" :mine="true"></like>
                        <reply :messageid="message.id" :actorid="$gf.me" :actorstousernames="actorsToUsernames"></reply>
                      <read :messageid="message.id" :actorid="$gf.me" :actorstousernames="actorsToUsernames"></read>
                  </div>
                </div>

                <div id="menu" v-if="message.actor == $gf.me" >
                  <img width="50" height="50" src="./media/trash.png" @click="removeMessage(message)">
                  <img width="50" height="50" src="./media/edit.png" @click="startEditMessage(message)">
                </div>

                <div :id="`message-${message.id}`" class="message" v-else>
                  <!-- Otherwise, display a bunch of properties from the message -->
                      <span class="authorInfo">
                        <profile :actor="message.actor" :downloadedimages="downloadedImages"></profile> 
                        <b v-if="message.actor == $gf.me"> <b>Me</b> @{{ actorsToUsernames[message.actor] }}</b>
                        <b v-else><b><name :actor="message.actor"></name></b> @{{ actorsToUsernames[message.actor] }}</b>
                      </span>

                      <div class="messageContent">
                        <p>{{ message.content }} </p>
                      </div>

                      <div v-if="message.attachment">
                        <div v-if="message.attachment.magnet">
                          <img class="msgImg" :src="downloadedImages[message.attachment.magnet]"/>
                        </div>
                        <div v-else>
                          Waiting for image
                        </div>
                      </div>

                      <p v-if="message.published == message.updated"> Posted {{timeSincePosted(message.published)}} ago </p>
                      <p v-else> Last edited {{timeSincePosted(message.updated)}} ago </p>

                      <!-- <div v-if="myLikes.includes()"></div> -->
                        <like :messageid="message.id" :actorid="$gf.me"></like>
                        <reply :messageid="message.id" :actorid="$gf.me" :actorstousernames="actorsToUsernames"></reply>
                      <read :messageid="message.id" :actorid="$gf.me" :actorstousernames="actorsToUsernames"></read>

                  </div>

              </article>
            </article>

            <article id="newMessageForm">
              <form @submit.prevent="sendMessage">
                <input  type="text" v-model="messageText" placeholder="Type a message..."/>
                <input type="submit" value="Send"/>
                <input type="file" accept="image/png, image/jpeg" @change="onImageAttachment"/>
              </form>
            </article>

          </section>

        </div>
      </div>



    </template>
  </div>

  <template id="class">
    <article v-if="creator">
      <input v-model="className" placeholder="Enter class name"> </input>
      <button id="createBtn" @click="createClass"> Create Class</button>
      <article class="class" v-for="myClass of classes"> 
        {{myClass.name}} <button @click="deleteClass(myClass)">Delete</button>
      </article>
    </article>

    <article class="classStuff">
      <article>
        <article v-for="myClass of classes"> 
          <join :myjoins="myJoins" :classid="myClass.id"></join>
        </article>
        <div class="classList">
          <article class="classArt" v-for="myClass of myClasses"> 
            <article class="class" @click="updateClass(myClass.id, myClass.name)">{{myClass.name}}</article><img class="leaveClassBtn" width="50" height="50" src="./media/redTrash.png" @click="leaveClass(myClass)">
          </article>
        </div>
      </article>
      <button class="newClassBtn" @click="addingClass=true"> + Add a Class</button>

      <article v-if="addingClass" id="classAddingBackdrop">

        <article id="classAdding">

          <div style="display: flex; justify-content: space-between;">
            <p><b>Add New Class</b></p>
            <button class="addClassBtn" @click="addingClass=false">X</button>
          </div>

          <label for="groupName"> Search for class:</label>
          <input v-model="className" @input="displayError = false" type="text" id="newClass" placeholder="Enter class name"> </input>

          <article v-if="className !== ''" class="dropDown"> 
            <article v-if="classSearch.length === 0"> No classes matching that description found. </article>
            <article v-else v-for="foundClass of classSearch" class="foundClass" @click="className = foundClass.name">{{foundClass.name}}</article>
          </article>


          <article v-if="displayError">
            No class by that name found.
          </article>

          <button id="joinBtn" @click="joinClass"> Join Class</button>

        </article>
      </article>
  </article>

</template>

<template id="join">
  <div style="display: none;">{{joins.length}}</div>
</template>
  

  <template id="group">

    <article id="addAllowedArt" v-if="addallowed">
      <article v-if="currgroup.id.includes($gf.me.slice(13))">

        <button v-if="!addingParticipant" @click="addingParticipant = true"> + Add Participant </button>

        <article v-if="addingParticipant">
            <input v-model="currParticipant" @input="displayError = false" type="text" id="participant" placeholder="Enter participant username"> </input>
            <button id="addBtn" @click="addNewParticipant"> Add</button>

            <article v-if="currParticipant !== ''" class="dropDown"> 
              <article v-if="participantSearch.length === 0"> No participants in {{currclass.name}} matching that description found. </article>
              <article v-else v-for="foundParticipant of participantSearch" class="foundClass" @click="addFromDropdown(foundParticipant)">{{foundParticipant}}</article>
            </article>
  
  
            <article style="color:red" v-if="displayError">
              User {{currParticipant}} does not exist in {{currclass.name}}.
            </article>

            <!-- <article v-if="displayError">
              Invalid username.
            </article> -->
        </article>

        <button style="background-color: red" @click="deleteGroup"> Delete Group </button>
      </article>
      <button style="background-color: red" v-else @click="leaveGroup"> Request to Leave Group </button>
    </article>

    <article v-else-if="removeallowed">
      <button class="removeParticipantBtn" @click="removeExistingParticipant"> Remove </button>
    </article>

    <article v-else-if="editablename">
      <button class="groupNameChangeBtn" v-if="editingName == false" style="height: fit-content" @click="editingName = true"> Edit Group Name </button>

      <article v-if="editingName">
        <input v-model="name" @input="displayError = false" type="text" id="participant"> </input>
        <button class="groupNameChangeBtn" @click="changeGroupName"> Change Name</button>
      </article>
    </article>

    <article v-else class="groupStuff">
      <article>
        <article class="group" v-for="group of groups" @click="updateGroup(group.id, group.name, group.participants)"> 
          {{group.name}}
        </article>
      </article>

      <button class="newChatBtn" @click="creatingGroup=true"> + New Chat</button>

      <article v-if="creatingGroup" id="groupCreationBackdrop">

        <article id="groupCreation">

          <div style="display: flex; justify-content: space-between;">
            <p><b>New Chat</b></p>
            <button class="newChatButton" @click="creatingGroup=false">X</button>
          </div>

          <label for="groupName"> Group Name:</label>
          <input v-model="name" type="text" id="groupName" placeholder="Enter chat name"> </input>

          <br>

          <label for="groupName"> Group Participants:</label>
          <input v-model="currParticipant" @input="displayError = false" type="text" id="participant" placeholder="Enter participant username"> </input>
          <button id="addBtn" @click="addParticipant"> Add</button>

          <article v-if="currParticipant !== ''" class="dropDown"> 
            <article v-if="participantSearch.length === 0"> No participants in {{currclass.name}} matching that description found. </article>
            <article v-else v-for="foundParticipant of participantSearch" class="foundClass" @click="addFromDropdown(foundParticipant)">{{foundParticipant}}</article>
          </article>


          <article style="color:red" v-if="displayError">
            User {{currParticipant}} does not exist in {{currclass.name}}.
          </article>

          <article v-for="participant, i of participants">
            <article class="participant" v-if="participant !== $gf.me"> 
              {{actorstousernames[participant]}}
              <button @click="removeParticipant(i)">X</button>
            </article>
          </article>

          <button id="createBtn" @click="createGroup"> Create Group</button>

        </article>
      </article>
  </article>

</template>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->
      <span class="profileName">{{ profile? profile.name : 'Anonymous' }}</span>

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input type="text" v-model="editText"/>
      <input type="submit" value="Save Name"/>
    </form>
  </template>


  <template id="profile">
    <span v-if="!editing">
      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->

      <div v-if="profilePic">
        <img class="authorPic" :src="downloadedPic"/>
      </div>

      <div v-else>
        <img class="authorPic" src="missingPic.webp"/>
      </div>

      <!-- {{ profilePic? '' : 'Anonymous' }} -->

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editProfilePic">
        Edit Profile Pic
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <!-- <form v-else @submit.prevent="saveProfilePic"> -->
      <!-- <form v-else @submit.prevent="saveProfilePic"> -->
      <div v-else >
        <input type="file" accept="image/png, image/jpeg" @change="onImageAttachment"/>
        <button class="save" @click="saveProfilePic"> Save Profile Pic </button>
      </div>
      <!-- </form> -->
    <!-- </form> -->
  </template>

  <template id="like">

    <div v-if="myLikes.length > 0">
      <img src="./media/redHeart.png" :id="`dislike-${messageid}`" class="dislikeBtn" @click="removeLike">
      {{ likes.length }}
    </div>
    <div v-else>
      <img v-if="!mine" src="./media/blackHeart.png" :id="`like-${messageid}`" class="likeBtn" @click="sendLike">
      <img v-else src="./media/whiteHeart.png" :id="`like-${messageid}`" class="likeBtn" @click="sendLike">
      {{ likes.length }}
    </div>

  </template>

  <template id="read">
    <div>
      Seen by 
      <span v-for="read of reads">
        {{ username(read.actor)}},
      </span>
      <div class="loader" :id="`loader-${messageid}`"></div>
  </div>
</template>

<template id="reply">
  <article class="replyObject">

    <button v-if="!replying" @click="replying = true">Reply</button>

    <div v-else>
      <input type="text" v-model="replyText" placeholder="Type a reply..."/>
      <button @click="sendReply">Send</button>
    </div>

    <div v-if="replies.length > 0">
      <button v-if="!viewing" @click="viewReplies">View Replies</button>
      <div v-else>
        <button @click="viewReplies">Hide Replies</button>

        <article class="replyClass" v-for="reply of replies">

          <div v-if="!editing[reply.id]"> <span> <b>{{username(reply.actor)}}:</b> {{reply.content}}</span>
            <button v-if="reply.actor==$gf.me" @click="edit(reply)">Edit</button>
            <button v-if="reply.actor==$gf.me" @click="removeReply(reply)">Delete</button>
          </div>

          <span v-else> <b>{{username(reply.actor)}}:</b>        
            <form v-if="reply.actor==$gf.me" @submit.prevent="editReply(reply)">
            <input type="text" v-model="editReplyText">
            <input type="submit" value="Save"/>
          </form>
        </span>

        </article>
      </div>
    </div>
  </article>
</template>

</body>
</html>
